# Ignore data files
*.csv
*.key
*.csr
*.crt
*.cms
request.wsaa.xml
*.jpg
token_wsfe.xml
*.pem
.csr.pem
db.sqlite3
*.xml
*.pdf
*.png
settings.py
*.bat
*.zip
# Ignore Python cache files
__pycache__/
*env/
# Ignore virtual environment directories
venv/
.env
.env.local
.env.development
.env.test
.env.production
# Ignore log files
*.log
# Ignore coverage reports
*.coverage
# Ignore migrations
migrations/
# Ignore static files
staticfiles/
# Ignore media files
media/
# Ignore IDE/editor specific files
*.swp
*.swo
*.sublime-workspace
*.sublime-project
count/aprobado.csr
count/MaciasBenjaPrueba.crt
count/AFIP - Administración Federal de Ingresos Públicos.pdf
count/private.key
count/request.csr
count/solicitar_cae.py
env/Lib/site-packages/asgiref-3.8.1.dist-info/METADATA
env/Lib/site-packages/certifi/cacert.pem
factura_afip.py
solicitar_cae2.py
token.xml   
TRA_signed.cms
TRA_decoded.xml
TRA.tmp
TRA.xml
